@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Meiryo UI", "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 1.2em;
    color: #333333;
}

html {
    font-size: 62.5%;
    background-color: #cdecfa;
}

.center {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}