
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Landing")
@Scripts.Render("~/Scripts/Landing")

<main>
    <div class="category-btn-area center">
        <button id="factory-btn" class="factory-btn">
            <img src="~/Content/Img/工場アイコン.svg" />
        </button>
    </div>
</main>
