@charset "utf-8";

#scroll{
	top:0;
	left:0;
}
p{
	font-weight:bold;
}
html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}
.wrap{
	width:960px;
	margin:0 auto;	
}
.bg01,.bg02,.bg03{
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
}
.bg01{
	background:url(../img/kusa02.png);
	opacity:0.2;
}
.bg02{
	background:url(../img/bg02.png);
}
.start , .end{
	border:1px solid #00C;
	text-align:center;
	width:70%;
	padding:20px 0;
	background:#CCC;
	left:15%;
}
.start h1{
	margin-bottom:30px;
	font-size:200%;
}
.sono1,.sono2,.sono3{
	top:0;left:0;right:0;bottom:0;
	width:15%;
	height:15%;
	border:solid 3px #F00;
	outline:solid 1px #000;
	background:#FFFFFF;
	text-align:center;
	padding:5%;
}
.laser{
	height:30px;
	background:#FF6;
}
.end p{
	color:#000;
	font-size:300%;
	position:relative;
	top:40%;
}