@{
    ViewBag.Title = "Home Page";
}
@* data-0からdata-最大までスクロールする *@
@* data-100 data-500と記載すると途中は等間隔で補完される *@
@* 動きを止めた後に再度動かしたい場合は、
    data-100="・・・"　data-500="" data-1000="・・・"
    動き始めの位置に空文字を挿入する方法がある *@

<div id="scroll" style="position:fixed"></div> 
<div id="thing" data-0="left[cos]:10%;top[sin]:10%;" data-10000="left:90%;top:90%;"></div>


   <div class="bg01" data-0="background-position:0px 0px;" data-end="background-position:0px -250px;"></div>
<div class="bg02" data-0="background-position:0px 0px;" data-end="background-position:0px -500px;"></div>
<main>
    <p id="scroll" data-0="top:0%;" data-end="top:95%;"></p>
    <div class="start" data-0="opacity:1;top:0%" data-500="" data-1000="top:-100%;">
        <h1>test</h1>
        <p>skrollr.jsのテスト</p>
    </div>
    <div class="sono1" data-0="opacity:0;transform:scale(0);top:20%;left:40%;" data-500="opacity:1;transform:scale(1);" data-7000="" data-10000="top:-50%">
        <p>
            その１<br>
            奥から現れる
        </p>
    </div>
    <!-- sono1 -->

    <div class="sono2" data-0="top:30%;left:-100%;transform:rotatey(0deg);" data-1800="left:101%;transform:rotatey(1080deg);">
        <p>
            その２<br>
            横切る
        </p>
    </div>
    <!-- sono2 -->

    <div class="sono3" data-1700="opacity:0;" data-1800="top:60%;left:10%;transform:rotate(0deg);opacity:1;" data-2000="top:10%;" data-2200="" data-2500="left:70%;transform:rotate(1080deg);top:60%;" data-3000="top:10%;" data-3200="" data-3500="left:10%;transform:rotate(0deg);top:60%;" data-4000="top:10%;" data-4200="" data-4800="left:70%;transform:rotate(1080deg);top:60%;" data-5000="top:40%;" data-5300="top:60%;" data-7000="" data-7300="left:200%;">
        <p>
            その３<br>
            荒ぶる
        </p>
    </div>
    <!-- sono3 -->
    <div class="laser" data-0="opacity:0;top:62%;right:29%;width:20px;" data-5800="width:1000px;opacity:1;" data-6300="" data-6800="right:200%;opacity:0;"> </div>
    <div class="end" data-7300="display:none;" data-7400="display:block;top:-100%;" data-7800="top:0%;">
        <p>終了</p>
    </div>
    <div class="sono3" data-1700="opacity:0;" data-1800="top:50%;left:10%;transform:rotate(0deg);opacity:1;" data-2000="left:40%;" data-2200="left:70%" data-2500="left:70%;transform:rotate(1080deg);top:60%;" data-3000="top:10%;" data-3200="" data-3500="left:10%;transform:rotate(0deg);top:60%;" data-4000="top:10%;" data-4200="" data-4800="left:70%;transform:rotate(1080deg);top:60%;" data-5000="top:40%;" data-5300="top:60%;" data-7000="" data-7300="left:200%;">
        <p>
            運ばれる1
        </p>
    </div>
    <div class="sono3" data-1800="opacity:0;" data-1900="top:50%;left:10%;transform:rotate(0deg);opacity:1;" data-2100="left:40%;" data-2300="left:70%" data-2600="left:70%;transform:rotate(1080deg);top:60%;" data-3100="top:10%;" data-3300="" data-3600="left:10%;transform:rotate(0deg);top:60%;" data-4100="top:10%;" data-4300="" data-4900="left:70%;transform:rotate(1080deg);top:60%;" data-5100="top:40%;" data-5400="top:60%;" data-7100="" data-7400="left:200%;">
        <p>
            運ばれる2
        </p>
    </div>
    <span id="LogoImg" data-1700="opacity:0;" data-1800="top:90%;left:10%;transform:rotate(0deg);opacity:1;" data-2000="left:40%;" data-2200="left:70%" data-2500="left:70%;transform:rotate(1080deg);top:90%;" data-3000="top:90%;" data-3200="" data-3500="left:90%;transform:rotate(0deg);top:90%;" data-4000="top:90%;" data-4200="" data-4800="left:70%;transform:rotate(1080deg);top:90%;" data-5000="top:90%;" data-5300="top:90%;" data-7000="" data-7300="left:200%;"></span>
</main>

